!**/.vscode/extensions.json
!**/.vscode/launch.template.json
!**/.vscode/settings.template.json
!**/.vscode/tasks.json
!.vscode/settings.json
!tests/baselines/reference/project/nodeModules*/**/*
!tests/cases/projects/NodeModulesSearch/**/*
!tests/cases/projects/projectOption/**/node_modules
!tests/cases/webharness/compilerToString.js
**/.DS_Store
**/.vs
**/.vscode/*
*.*~
*.actual
*.config
*.iml
*.iws
*.log*
*.pyc
*.sln.docstates
*.sublime-project
*.sublime-workspace
*.suo
*.swo
*.swp
*.user
*.userosscache
*v8.log
*~
.DS_STORE
.DS_Store
.\#*
.cr/
.eslintcache
.failed-tests
.fleet/
.flowconfig
.grunt
.idea
.idea/
.idea/**/aws.xml
.idea/**/contentModel.xml
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/dataSources/
.idea/**/dbnavigator.xml
.idea/**/dictionaries
.idea/**/dynamic.xml
.idea/**/gradle.xml
.idea/**/libraries
.idea/**/mongoSettings.xml
.idea/**/shelf
.idea/**/sqlDataSources.xml
.idea/**/tasks.xml
.idea/**/uiDesigner.xml
.idea/**/usage.statistics.xml
.idea/**/workspace.xml
.idea/caches/build_file_checksums.ser
.idea/httpRequests
.idea/replstate.xml
.idea/sonarlint/
.idea_modules/
.module-cache
.node_modules/
.parallelperf.*
.settings
.vs/
.vscode
.vscode/*
/lib/
TEST-results.xml
[Bb]in/
[Dd]ebug/
[Dd]ebugPublic/
[Oo]bj/
[Oo]ut/
[Rr]elease/
[Rr]eleases/
\#*\#
_SpecRunner.html
__benchmarks__
atlassian-ide-plugin.xml
bld/
build.json
build/
built/*
chrome-user-data
cmake-build-*/
com_crashlytics_export_strings.xml
coverage/
crashlytics-build.properties
crashlytics.properties
fabric.properties
fixtures/dom/public/react-dom.js
fixtures/dom/public/react.js
internal/
msbuild.err
msbuild.log
msbuild.wrn
node_modules
node_modules/
nupkg/
out/
package-lock.json
packages/react-devtools-core/dist
packages/react-devtools-extensions/.tempUserDataDir
packages/react-devtools-extensions/chrome/*.crx
packages/react-devtools-extensions/chrome/*.pem
packages/react-devtools-extensions/chrome/build
packages/react-devtools-extensions/firefox/*.pem
packages/react-devtools-extensions/firefox/*.xpi
packages/react-devtools-extensions/firefox/build
packages/react-devtools-extensions/shared/build
packages/react-devtools-fusebox/dist
packages/react-devtools-inline/dist
packages/react-devtools-shell/dist
packages/react-devtools-timeline/dist
project.lock.json
remote-repo/
rwc-report.html
scripts/**/*.js
scripts/**/*.js.map
scripts/debug.bat
scripts/eslint/built/
scripts/flow/*/.flowconfig
scripts/run.bat
src/compiler/diagnosticInformationMap.generated.ts
src/compiler/diagnosticMessages.generated.json
src/harness/*.js
src/parser/diagnosticInformationMap.generated.ts
src/parser/diagnosticMessages.generated.json
test-args.txt
test/the-files-to-test.generated.js
tests/baselines/local.old/*
tests/baselines/local/*
tests/baselines/local/projectOutput/*
tests/baselines/prototyping/local/*
tests/baselines/reference/dt
tests/baselines/reference/projectOutput/*
tests/baselines/reference/testresults.tap
tests/baselines/rwc/*
tests/baselines/symlinks/*
tests/cases/**/*.js
tests/cases/**/*.js.map
tests/cases/perf/*
tests/cases/rwc/*
tests/services/baselines/local/*
tests/services/baselines/prototyping/local/*
tests/services/browser/typescriptServices.js
tests/webTestServer.js
tests/webTestServer.js.map
tests/webhost/*.d.ts
tests/webhost/webtsc.js
x64/
x86/
yarn-error.log
yarn.lock
~*.docx